@font-face {
    font-family: diner;
    src: url(../fonts/FontdinerSwanky.ttf);
}

body{
    background-color: #34495e;
    margin: 0;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.slider-img{
    width: 100%;
    height: 509px;
}

.movie-list{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.movie-item{
    width: 33%;
    margin-left: 3px;
    height: 400px;
    background-color: #2c3e50;
    float: left;
    border-radius: 25px;
    margin-bottom: 50px;
}

.movie-thumb{
    height: 250px;
    border-radius: 25px;
}

.movie-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*.register_form{
    width: 50%;
    float: left;
}*/

.register_form{
    width: 30%;
    float: left;
    margin: 8px;
    margin-left: 150px;
    background-color: #2c3e50;
    border-radius: 4px;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 40px;
}

/*.login_form{
    width: 50%;
    float: left;
}*/

.login_form{
    width: 30%;
    float: right;
    margin: 8px;
    margin-right: 150px;
    background-color: #2c3e50;
    border-radius: 4px;
    height: 97%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.form_reg{
    text-align: center;
    margin-top: 20px;
}

.login_form{
    text-align: center;
    margin-top: 20px;
}

.input_fill{
    text-align: center;
    width: 250px;
    height: 30px;
    border: none;
    padding: 15px;
    font-size: 18px;
}

label {
    font-size: 18px;
}
.btn {
    width: 100px;
    border-radius: 3px;
    border: none;
    height: 30px;
    padding: 5px;
}
#message {
    font-size: 20px;
}
.btn-readmore {
    background-color: #035481;
    color: whitesmoke;
    width: 100px;
    border-radius: 3px;
    border: none;
    height: 40px;
    padding: 5px;
    float: right;
}

.btn-readmore:hover {
    background-color: #005f5f;
}
.btn-readmore-home {
    background-color: #035481;
    width: 100px;
    border-radius: 3px;
    border: none;
    height: 40px;
    padding: 5px;
}

.filmdata{
    color: white;
}

.movie_desc{
    text-align: center;
    color: whitesmoke;
}

.addmvbtn {
    color: whitesmoke;
    border: none;
    padding: 20px 30px;
    margin: auto;
    background-color: #035481;
    font-size: 16px;
    border-radius: 10px;
}
.addmvbtn:hover {

    background-color: #005f5f;
    color: grey;
    transition: .3s;
}

.profilebtn {
    color: whitesmoke;
    border: none;
    width : 150px;
    height: 50px;
    margin: auto;
    background-color: #035481;
    font-size: 16px;
    border-radius: 10px;
}
.profilebtn:hover {

    background-color: #005f5f;
    color: grey;
    transition: .3s;
}

.taskbox {
    margin-top: 70px;
    height: 450px !important;
    margin-left: 10px;
    margin-right: 1px;
    margin-bottom: 50px;
    border-radius: 15px;
    width: 32%;
    float: left;
    height: 100px;
    background-color: #6D7883;
}

.taskbox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.task-image {
    margin: 165px !important;
    margin-top: 50px !important;    
}
.taskbox img {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 20px;
}

.taskbox h2 {
    margin-top: 160px;
    text-align: center;
}

.taskbox p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.taskbox a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.taskbox a:hover {
    color: whitesmoke;
    transition: .5s;
}

.btn2 {
    background-color: #035481;
    width: 100px;
    border-radius: 3px;
    border: none;
    height: 50px;
    padding: 5px;
    margin: auto;
    display: block;
}

.btn2:hover{
    background-color: #005f5f;    
}

#regmsg {
    color: green;

}

#existmsg {
    color: red;

}